/* style contend add task */

.addtask_html {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b3b3b;
    font-family: 'inter', sans-serif;
}

/* Header and sidebar */
.addtask_sidebar {
    position: fixed;
    top: 8px;
    width: 232px;
    height: 1024px;
    background-color: #2A3647;
    box-shadow: 0px 0px 4px 0px #0000001A;
}

.addtask_header {
    position: fixed;
    top: 8px;
    width: 1440px !important;
    height: 96px;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
}

/* addtask body */
.addtask_body {
    position: fixed;
    top: 0px;
    width: 1440px;
    height: 1024px;
    background-color: #F6F7F8;
}

/* addtask content */
.addtask_content {
    position: fixed;
    top: 104px;
    width: 1209px;
    height: 928px;
    margin-left: 232px;
}

/* addtask fonts */
.addtask_h1 {
    font-size: 61px;
    font-weight: 700;
    width: 466px;
    height: 78px;
    top: 64px;
    left: 74px;
    gap: 1px;
    padding-top: 110px;
    padding-left: 96px;
}

.addtask-h2 {
    font-size: 20px;
    font-weight: 400px;
    padding-bottom: 8px;
}

.addtask-h2 span {
    color: #FFA800;
}

.addtask-footer span {
    color: #FFA800;
}

.addtask-gap16 {
    padding-bottom: 16px;
}

/* addtask content main, left, middle, right, footer */
.addtask-content-main {
    display: flex;
    border: 1px solid rgb(8, 0, 255);
    padding-top: 43px;
}

.addtask-left-content {
    height: 376px;
    width: 440px;
    margin-left: 96px;
    margin-right: 48.25px;
    left: 328px;
    border: 1px solid rgb(255, 106, 0);
}

.addtask-middle-content {
    height: 424px;
    width: 1px;
    top: 327px;
    left: 816.25px;
    background-color: #D1D1D1;
    border: 1px solid rgb(255, 0, 0);
}

.addtask-right-content {
    height: 416px;
    width: 440px;
    top: 327px;
    left: 864.25px;
    border: 1px solid rgb(0, 255, 55);
    margin-left: 48px;
}

.addtask-content-footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-left: 96px;
    margin-right: 96px;
}

/* style inputfields */

.addtask-input-title {
    width: 440px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    /* padding-left: 12px; */
    /* gap: 10px; */
    color: #d1d1d1;
    font-size: 20px;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter";
    padding-left: 12px;


}

.addtask-input-title:hover {
    cursor: pointer;
    border: 1px solid #29ABE2;
}

.addtask-input-description {
    width: 440px;
    min-height: 80px;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    /* padding-left: 12px; */
    padding-top: 12px;
    gap: 10px;
    color: #d1d1d1;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter";

}

.addtask-input-description:hover {
    cursor: pointer;
    border: 1px solid #29ABE2;
}

.addtask-input-assigned {
    width: 440px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    justify-content: space-between;
    /* padding-left: 12px; */
    color: #d1d1d1;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter";
}

.addtask-input-assigned:hover {
    cursor: pointer;
    border: 1px solid #29ABE2;
}

.addtask-input-date {
    width: 440px;
    height: 48px;
    /* left: 12px; */
    /* padding-right: 12px; */
    gap: 0;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    justify-content: space-between;
    color: #d1d1d1;
    font-size: 20px;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter";
}

.addtask-input-date:hover {
    cursor: pointer;
    border: 1px solid #29ABE2;
}

.addtask-input-category {
    width: 440px;
    height: 48px;
    padding-left: 12px;
    gap: 0;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    justify-content: space-between;
    color: black;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter";
}

.addtask-input-category:hover {
    cursor: pointer;
    border: 1px solid #29ABE2;

}

.addtask-input-subtasks {
    width: 440px;
    height: 48px;
    /* padding-left: 12px; */
    gap: 0;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    justify-content: space-between;
    color: #d1d1d1;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter";
}

.addtask-input-subtasks:hover {
    cursor: pointer;
    border: 1px solid #29ABE2;
}

/* style buttons */

.addtask-prio-buttons {
    width: 440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter";
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter";
}


.addtask-button {
    width: 136px;
    height: 56px;
    border-radius: 10px;
    padding: 16px 10px 16px 10px;
    gap: 8px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #d1d1d1;
    background-color: white;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter";
}

.addtask-button:hover {
    cursor: pointer;
}

.addtaskbutton {
    display: flex;
    justify-content: space-between;
    width: 309px;
    height: 56px;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter";

}

.addtask-button-create-task {
    width: 183px;
    height: 56px;
    border-radius: 10px;
    /* padding: 16px; */
    /* gap: 4px; */
    background-color: #243647;
    color: #Ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter";
}

.addtask-button-cancel {
    width: 110px;
    height: 56px;
    border-radius: 10px;
    border: 1px solid;
    padding: 16px;
    gap: 4px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter";
}

.addtask-button-cancel:hover {
    cursor: pointer;
    color: #29ABE2;

}

.addtask-button-create-task:hover {
    cursor: pointer;
    background-color: #29ABE2;
    border: 1px solid #29abe2;
}