/* style contend add task */
.addtask_html {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b3b3b;
    font-family: 'inter', sans-serif;
}

/* Header and sidebar */
.addtask_sidebar {
    position: fixed;
    width: 232px;
    height: 1024px;
    background-color: #2A3647;
    box-shadow: 0px 0px 4px 0px #0000001A;
}

.addtask_header {
    position: fixed;
    width: 1440px !important;
    height: 96px;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
}

/* addtask body */
.addtask_body {
    position: fixed;
    box-sizing: border-box;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #F5F5F5;
    overflow-x: hidden;
    margin: 0;
    margin-top: 0 !important;
}

/* addtask content */
.addtask_content {
    position: fixed;
    top: 96px;
    width: 100%;
    height: 100vh;
    margin-left: 232px;
    scrollbar-width: thin;
    overflow-y: auto;
}

/* addtask fonts */
.addtask_h1 {
    font-size: 61px;
    font-weight: 700;
    width: 466px;
    height: 78px;
    top: 0px;
    left: 74px;
    gap: 1px;
    padding-top: 10px;
    padding-left: 96px;
}

.addtask-h2 {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 8px;
    padding-top: 8px;
}

.addtask-h2 span {
    color: #FFA800;
}

/* widt inputfields */
.width540 {
    width: 540px;
}

.width524 {
    width: 524px;
}

.width552 {
    width: 552px;
}

/* addtask content main, left, middle, right */
.addtask-content-main {
    display: flex;
    padding-top: 43px;
    width: 100vw - 232px;
    margin-right: 237px;
}

.addtask-left-content {
    margin-left: 48px;
    margin-right: 48.25px;
    left: 328px;
}

.addtask-middle-content {
    height: 524px;
    width: 1px;
    top: 327px;
    left: 816.25px;
    background-color: #D1D1D1;
}

.addtask-right-content {
    top: 327px;
    left: 864.25px;
    margin-left: 48px;
}

/* diabled button color hover */
.grey {
    background-color: rgb(236, 7, 7);
}

/* style inputfields */
.addtask-input-title {
    height: 48px;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    padding-left: 12px;
    font-size: 20px;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter";
}

.addtask-gap16 {
    padding-bottom: 16px;
}

.addtask-input-title:hover {
    cursor: pointer;
    border: 1px solid #29ABE2;
}

.addtask-input-title::placeholder {
    color: #d1d1d1;
}

.addtask-input-title[value="Black"] {
    color: black;
}

.addtask-input-description {
    min-height: 130px;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    padding-left: 12px;
    padding-top: 12px;
    gap: 10px;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter";
}

.addtask-input-description:hover {
    cursor: pointer;
    border: 1px solid #29ABE2;
}

.addtask-input-description::placeholder {
    color: #d1d1d1;
}

.addtask-input-description[value="Black"] {
    color: black;
}

.addtask-input-assigned {
    height: 48px;
    padding-left: 12px;
    gap: 0;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    justify-content: space-between;
    padding-left: 12px;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter";
    display: flex;
    background-color: white;
}

.addtask-input-assigned-input {
    border: none;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter";
}

.addtask-input-assigned:hover {
    cursor: pointer;
    border: 1px solid #29ABE2;
}

.addtask-input-description::placeholder {
    color: #d1d1d1;
}

.addtask-input-description[value="Black"] {
    color: black;
}

.addtask-input-date {
    height: 48px;
    gap: 0;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    justify-content: space-between;
    font-size: 20px;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter";
    padding-left: 12px;
    color: #d1d1d1;
}

.addtask-input-date:hover {
    cursor: pointer;
    border: 1px solid #29ABE2;
}

.addtask-input-date::placeholder {
    color: #d1d1d1;
}

.addtaskBlack {
    color: black !important;
}

.addtask-input-date[value="Black"] {
    color: black;
}

.addtask-input-category {
    height: 48px;
    padding-left: 12px;
    gap: 0;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    justify-content: space-between;
    color: black;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter";
}

.addtask-input-category:hover {
    cursor: pointer;
    border: 1px solid #29ABE2;
}

.addtask-input-category::placeholder {
    color: #d1d1d1;
}

.addtask-input-category[value="Black"] {
    color: black;
}

.addtask-input-subtasks {
    height: 48px;
    padding-left: 12px;
    gap: 0;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    justify-content: space-between;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter";
}

.addtask-input-subtasks:hover {
    cursor: pointer;
    border: 1px solid #29ABE2;
}

.addtask-input-subtasks::placeholder {
    color: #d1d1d1;
}

.addtask-input-subtasks[value="Black"] {
    color: black;
}

/* style buttons */
.addtask-prio-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter";
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter";
}

.addtask-button {
    max-width: 136px;
    height: 56px;
    border-radius: 10px;
    padding: 16px 10px 16px 10px;
    gap: 8px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #d1d1d1;
    background-color: white;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter";
    align-items: center;
}

.addtask-button:hover {
    cursor: pointer;
    border: 1px solid #29ABE2;
}

.addtaskbutton {
    display: flex;
    justify-content: space-between;
    width: 309px;
    height: 56px;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter";
    padding-right: 20px;
}

.prioimg {
    width: 20px;
    height: 20px;
}

.addtask-button-create-task {
    width: 183px;
    height: 56px;
    border-radius: 10px;
    background-color: #243647;
    color: #Ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter";
}

.urgent.selected {
    background-color: rgb(255, 61, 0, 0.2);
}

.medium.selected {
    background-color: rgb(255, 168, 0, 0.2);
}

.low.selected {
    background-color: rgb(122, 226, 41, 0.2);
}

.addtask-button-cancel {
    width: 110px;
    height: 56px;
    border-radius: 10px;
    border: 1px solid;
    padding: 16px;
    gap: 4px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter";
}

.addtask-button-cancel:hover {
    cursor: pointer;
    color: #29ABE2;
}

.addtask-button-create-task:hover {
    cursor: pointer;
    background-color: #29ABE2;
    border: 1px solid #29ABE2;
}

.addtask-button-create-task:hover:disabled {
    cursor: pointer;
    background-color: #e2292f;
    border: 1px solid #e22929;
}

.messagedatevalidation {
    color: red;
    font-size: 12px;
}

.d-none {
    display: none !important;
}

/* Style Popup */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 10px;
    border: 1px solid #243647;
    background-color: #243647;
    border-radius: 10px;
    border: 1px solid;
    color: white;
    display: block;
}

.addsubtaskliste {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    font-family: "Inter";
}

.inputfield {
    width: 520px;
    max-height: 150px;
    display: flex;
    flex-direction: column;
    scrollbar-width: thin;
    border-radius: 10px;
    overflow: auto;
    gap: 10px;
    background-color: #ffffff;
    padding: 10px;
    position: relative;
    z-index: 1;
}

.containerSubtask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    background-color: #ffffff;
    padding: 10px;
    gap: 5px;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter";
}

.subtaskIcons {
    display: flex;
    gap: 5px;
}

.containerForSubtask {
    width: 520px;
    scrollbar-width: thin;
    border-radius: 10px;
    overflow: auto;
    gap: 10px;
    background-color: #ffffff;
    padding: 10px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 150px;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter";
}

.inputnew {
    display: flex;
    max-width: 500px;
    margin-left: 15px;
    height: 40px;
    flex-direction: row;
    font-size: 20px;
    text-align: right;
    justify-content: space-between;
}

.checkBox {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FF3D00;
    cursor: pointer;
}

.inputfieldEditSubtask {
    width: 440px;
    height: 40px;
    font-size: 20px;
    border-width: 0 0 2px;
    border-color: #29ABE2;
}

.inputfieldEditSubtask:focus {
    border-color: green;
    outline: 1px dotted #000
}

@media(max-width: 1550px) {
    .width540 {
        width: 440px;
    }

    .width524 {
        width: 424px;
    }
}

@media(max-width: 1400px) {
    .width540 {
        width: 400px;
    }

    .width524 {
        width: 384px;
    }
}

@media(max-width: 1300px) {
    .sidebar {
        display: none !important;
    }

    .addtask_content {
        margin-left: 16px;
    }

    .addtask-content-main {
        margin-right: 16px;
    }

    .addtask_inner_content {
        min-height: 1440px;
    }

    .addtask-content-footer {
        margin-right: 0;
    }

    .addtask_h1 {
        font-size: 61px;
        font-weight: 700;
        width: 466px;
        height: 78px;
        top: 0px;
        margin: 0 !important;
        text-align: center;
        gap: 1px;
        padding-top: 10px;
        padding-left: 0;
    }

    .addtask-middle-content {
        display: none;
    }

    .addtask-content-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }

    .width540 {
        width: 540px;
    }

    .width524 {
        width: 540px;
    }

    .addtask-right-content {
        margin-left: 0;
    }
}

@media(max-width: 600px) {
    .width540 {
        width: 85vw;
    }

    .width524 {
        width: 85vw;
    }

    .width552 {
        width: 90vw;
    }

    .addtask-button-cancel {
        display: none;
    }
}

@media(max-width: 440px) {
    .addtask_h1 {
        width: 320px;
        font-size: 40px;
    }

    .addtask-button {
        max-width: 90vw;
        height: 56px;
        border-radius: 10px;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .addtask-right-content {
        width: 90vw;
    }
}