body{
    /* task overlay v1 */

/* Auto layout */

font-family: 'Inter', sans-serif;
display: flex;
flex-direction: column;
padding: 48px 40px;
gap: 24px;

position: relative;
width: 525px;
height: 931px;

background: #FFFFFF;
/* nuevo */
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
border-radius: 30px;

}

.board_openCard{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:20px;
}

.board_cardtag{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.board_cardheadline{
    width: 100%;
    font-size: 61px;
    font-weight: 700;
    text-align: left;
}
.board_text{
font-size: 20px;
font-weight: 400;
line-height: 24px;
text-align: left;

}

.board_deledit{
    align-self: self-end;
}

.board_subtasks{
    list-style: none;
}
.board_assigned{
    list-style: none;
}

.board_assigneditem{

    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}

.checkbox{
    width: 16px;
height: 16px;
top: 4px;
left: 4px;
gap: 0px;
border-radius: 3px 0px 0px 0px;
border: 2px 0px 0px 0px;
opacity: 0px;

}