body {
    margin: auto;
    box-sizing: border-box;
    width: 100%;
    font-family: "Inter";
    max-height: 100%;
    overflow-x: hidden;


}

.mobile_bottom {
    display: none;
}



.main {
    display: flex;
    margin-left: 232px;
    max-width: calc(100vw - 232px);
    height: calc(100vh - 96px);
}

.popup {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    align-items: center;
    width: 326px;
    height: 74px;
    position: fixed;
    top: 80%;
    right: 0%;
    background-color: #243647;
    border: 1px solid;
    color: white;
    animation-name: animateright;
    animation-duration: 2s;

    animation-fill-mode: forwards;

}

.d-none {
    display: none;

}

.contacts-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.08);
    width: 456px;
    max-height: calc(100vh - 96px);
    overflow: auto;


}

.contact-box {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-radius: 20px;
    margin-top: 5px;
    justify-content: flex-start;
    gap: 35px;
    margin-left: 15px;
}

.contact-box:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;


}

.contact-box:active {
    background-color: #2A3647;
    color: white;
}

.first-letters-of-names {
    display: flex;

}

.first-and-last-name-box {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 5px;


}

.conatct-box-mail {
    margin: 0;
    color: blue;
}

.content-container {
    max-height: calc(100vh - 96px);
    display: flex;
    width: 100%
}



.contacts-content::-webkit-scrollbar {
    width: 8px;


}

.contacts-content::-webkit-scrollbar-track {

    border-radius: 8px;


}

.contacts-content::-webkit-scrollbar-thumb {
    background-color: rgba(168, 168, 168, 1);

    border-radius: 8px;
    /
}

.contacts-overview {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #F6F7F8;
}

.contacts-placeholder {
    display: flex;
    height: 73px;
    align-items: center;
    gap: 30px;
    margin-top: calc(206px - 96px);
    margin-bottom: 32px;
    margin-left: 58px;
}

.contacts-placeholder-responsiv {
    display: flex;

    gap: 8px;
    margin-top: 32px;
    justify-content: flex-start;
    flex-direction: column;

}

.contacts-placeholder-font1 {
    font-weight: 700;
    font-size: 61px;

}

.contacts-placeholder-font1-responsiv {
    font-weight: 700;
    font-size: 47px;

}

.contacts-placeholder-seperator {
    background-color: #29ABE2;
    width: 3px;
    height: 59px;
    border-radius: 3px;

}

.contacts-placeholder-seperator-responsiv {
    background-color: #29ABE2;
    width: 90px;
    height: 3px;
    border-radius: 3px;
    margin-top: 16px;

}

.contacts-placholder-svg-responsiv {
    align-items: center;
    margin-top: 32px;
    display: flex;

    justify-content: space-between;


}

.svg-responsiv {
    position: fixed;
    top: 150px;
    right: 16px
}

.svg-responsiv:hover {
    cursor: pointer;
}

.contacts-placeholder-text {
    font-size: 27px;
}

.contacts-placeholder-text-responsiv {
    font-size: 20px;
}

.scroll-area-and-button {
    display: flex;
    flex-direction: column;
}

.contacts-add-new-contact-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2A3647;
    color: white;
    width: 352px;
    border: 1px;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 700;
    gap: 16px;
    padding: 12px 0px;
    margin-top: 24px;
    margin-bottom: 24px;
    position: sticky;
    top: 0;
}

.contacts-add-new-contact-button:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;
}

.letter-group {
    font-size: 20px;
    font-weight: 400;

}

.letter-group-first-name {
    padding: 17px 36px 17px 36px;
}

.contact-box-email {
    color: rgb(0, 124, 238)
}

.render-contacts-container {
    display: flex;
    flex-direction: column;

}

/* ***********  Modal ************/
/* The Modal (background) */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

}

.modal-burger {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

}

/* Modal Content/Box */
.modal-content {
    display: flex;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 1212px;
    height: 592px;
    border-radius: 30px;
    animation-name: animatetop;
    animation-duration: 300ms;
    /* Dauer der Animation */
    animation-timing-function: ease-out;
    /* Timing-Funktion der Animation */
}


/* The Close Button */
.close {
    display: flex;
    justify-content: flex-end;
    color: #aaa;

    margin-top: 52px;
    position: relative;
    margin-bottom: 57px;
    margin-right: 48px;

}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-part-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: #2A3647;
    width: 467px;
    border-radius: 30px 0px 0px 30px;

}


.contact-h1 {
    margin: 0px;
    color: white;
    font-weight: 700;
    font-size: 61px;
    margin-left: 48px;
}

.modalTaskteam {
    margin-left: 48px;
    color: white;
    font-size: 27px;
    font-weight: 400;
}

.modalLogo {
    margin-left: 48px;
    margin-bottom: 12px;
}

.modal-seperator {
    background-color: #29ABE2;
    width: 90px;
    height: 3px;
    border-radius: 3px;
    margin-left: 48px;
    margin-top: 16px;
}

.letter-seperator {
    /* width: 100%; */
    border: 1px solid #D1D1D1;
    margin-top: 8px;

}

.modal-part-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

}

.modal-part-3 {
    display: flex;
    width: 470px;
    flex-direction: column;
    border-radius: 0px 30px 30px 0px;

}

.profil-picture-modal {

    position: relative;
    width: 120px;
    height: 120px;

}

.contact-modal-form {
    display: flex;
    flex-direction: column;
    gap: 32px;

    margin-right: 48px;
}

.detail-view-email {
    color: blue;
}

.contact-modal-form input {
    font-size: 20px;
}

.responsiv-contact-modal-form input {
    font-size: 20px;
}

.contact-modal-input {
    min-height: 50px;
    width: 422px;
    border: 1px solid rgba(209, 209, 209, 1);
    padding: 13px 21px;  
    border-radius: 10px;
    box-sizing: border-box;
    width: 100%;
    text-indent: 30px;
}


.modal-part-3-buttons-container {
    display: flex;
    height: 57px;
    margin-top: 48px;

}

.modal-part-3-cancel-button {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 18px 10px 18px 10px;
    margin-right: 24px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid rgba(42, 54, 71, 1);
    background-color: white;
    justify-content: center;

}


.modal-part-3-create-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    border-radius: 10px;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
    border: 1px;
    margin-bottom: 135px;


}

.contact-box-highlight {
    background-color: #2A3647;
    color: white;
}

.modal-part-3-create-button-responsiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 18px 10px 18px 10px;
    border-radius: 10px;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
    border: 1px;
    margin-bottom: 16px;


}

.dispplay-flex {
    display: flex;
}

.modal-part-3-create-button:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;
}

.modal-part-3-create-button-responsiv:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;
}

.modal-part-3-cancel-button:hover {
    color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-color: #29ABE2;
    cursor: pointer;
}

/* Ändert die Farbe der SVG-Linien beim Hovern */
.modal-part-3-cancel-button:hover .edit-svg path {
    stroke: #29ABE2;
}

.contact-modal-input::placeholder {
    color: #D1D1D1;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    


}

.input-name-img {
    background-image: url(/assets/img/person.svg);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: right 21px center;

}

.input-email-img {
    background-image: url(/assets/img/mail.svg);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: right 21px center;


}

.input-phone-img {
    background-image: url(/assets/img/call.svg);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: right 21px center;


}

.profil-badage {
    font-size: 12px;
    font-weight: 400;
}

.detail-view {
    display: flex;
    flex-direction: column;
    height: 364px;

}

.detail-view-responsiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 364px;
    gap: 20px;
    margin-top: 48px;
}

.detail-view-contact-information-text {
    display: flex;
    font-size: 20px;
    font-weight: 400;
    height: 74px;
    width: 207px;
    align-items: center;
}

.detail-view-child1 {
    display: flex;
    width: 100%;
    height: 120px;
    gap: 54px;
}

.detail-view-child1-responsiv {
    display: flex;
    width: 100%;
    height: 120px;
    gap: 20px;
}



.detail-view-name {
    margin-top: 16px;
    font-size: 47px;
    gap: 5px;
    font-weight: 700px;
}

.detail-view-name-responsiv {
    margin-top: 16px;
    font-size: 36px;
    gap: 5px;
    font-weight: 700px;
}

.detail-view-symbols {
    display: flex;
    font-size: 16px;
    gap: 13px;

}

.edit-contact-symbols {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.edit-contact-symbols:hover {
    fill: #29ABE2;
    cursor: pointer;
    color: #29ABE2;
    font-weight: 700;

}

.detail-view-contact-email {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
}

.detail-view-contact-phone {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 22px;
}

/* .test-responisv-top {
    width: 100%;
    height: 80px;
    background-color: #888;
} */

.close-responsiv {
    display: none;
}

.full-name-validation-span {
    display: flex;
    color: red;
}

/* Add Animation */

@keyframes animatetop {
    from {
        transform: translateX(100%);
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animateright {
    0% {
        transform: translateX(100%);
    }

    40% {
        transform: translateX(calc(50% - 50vw));
        /* Fly in to the center */
    }

    60% {
        transform: translateX(calc(50% - 50vw));
        /* Stay in the center */
    }

    80% {
        transform: translateX(calc(50% - 50vw));
        /* Stay in the center for 800ms */
    }

    100% {
        transform: translateX(200%);
        /* Fly out to the right */
    }
}

@keyframes animaterightResponisvIn {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes animaterightResponisvOut {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}


/* responsive  */

@media(max-width: 1230px) {
    .modal-content {
        position: relative;
        width: 80%;
        flex-direction: column;
        height: calc(100% - 180px);
        align-items: center;
        display: flex;
        background-color: #fefefe;
        margin: auto;
        border: 1px solid #888;
        border-radius: 30px;
        animation-name: animatetop;
        animation-duration: 300ms;
        animation-timing-function: ease-out;

    }

    .modalLogo {
        display: none;
    }

    .responsiv-h1-close {
        display: flex;
    }

    .close-responsiv {
        display: flex;
        justify-content: flex-end;
        color: #aaa;
        position: absolute;
        top: 24px;
        right: 16px;

    }

    .close-responsiv:hover {
        cursor: pointer;
    }

    .modal-part-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #2A3647;
        width: 100%;
        border-radius: 30px 30px 0px 0px;
        position: relative;
        height: 50%;
    }

    .modal-part-2 {
        display: flex;
        flex: none;
    }

    .modal-part-3 {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        width: 100%;
        border-radius: 0px 0px 30px 30px;
        margin-top: 92px;
    }

    .contact-modal-form {
        display: flex;
        margin: 0px;
        height: 80%;
        margin-left: 16px;
        margin-right: 16px;
        width: 100%;
        align-items: center;
    }

    .contact-h1 {
        display: flex;
        font-size: 47px;
    }

    .contact-modal-input {
        width: 80%;
        margin-left: 16px;
        margin-right: 16px;
    }

    .modal-part-3-buttons-container {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .modal-part-3-create-button {
        margin: 0px;
        height: 51px;
    }

    .modal-part-3-cancel-button {
        margin: 0px;
        height: 51px;
    }

    .close {
        display: none;
    }

    .profil-picture-modal {
        display: none;
    }

    .profil-picture-modal-responsiv {
        display: flex;
        position: absolute;
        bottom: -60px;
        left: 50%;
        transform: translateX(-50%);
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
}

@media(max-width: 1300px) {
    /* .responisiv-display-none {
        display: none;
    } */

    .main {
        margin-left: 0px;
        max-width: 100%;
        height: calc(100vh - 160px);


    }


}

@media(min-width: 1000px) {
    .responisv-contacts-overview {
        display: none !important;
    }
}

@media(max-width: 1000px) {
    .content-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .contacts-overview {
        display: none;
    }

    .contacts-content {
        width: 100%;
        max-height: calc(100vh - 160px);

    }
}



@media(max-width:461px) {
    .first-and-last-name-box {
        font-size: 16px;
    }
}

@media(min-width: 1300px) {
    /* .test-responisv-top {
        display: none;
    } */

    .contacts-add-new-contact-button-responisv {
        display: none;
    }

    .responiv-modal {
        display: none !important;
    }

    .responisv-contacts-overview {
        display: none !important;
    }

}


.contacts-add-new-contact-button-responisv {
    height: 56px;
    width: 56px;
    background-color: #2A3647;
    border-radius: 50%;
    position: fixed;
    bottom: 112px;
    right: 16px;
    border: 0px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
.contacts-add-new-contact-button-responisv:hover {
    background-color: #29ABE2;
    cursor: pointer;
}

.responsiv-add-contact-content {
    position: relative;
    width: 80%;
    flex-direction: column;
    height: calc(100% - 180px);
    align-items: center;
    display: flex;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    border-radius: 30px;
    animation-name: animatetop;
    animation-duration: 300ms;
    animation-timing-function: ease-out;


}

.responiv-modal {
    display: none;
    justify-content: center;
}

.responiv-modal-part1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2A3647;
    width: 100%;
    border-radius: 30px 30px 0px 0px;
    position: relative;
    height: 50%;
}

.responsiv-unkown-user {
    position: absolute;
    top: calc(100% - 60px);
    /* Verschiebe es so, dass die Hälfte des SVGs sichtbar ist */
    left: 50%;
    /* Zentriere es horizontal */
    transform: translateX(-50%);
    /* Zentriere das SVG horizontal */
    width: 120px;
    height: 120px;
}

.responsiv-contact-modal-form {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 92px;
    width: 100%;
}

.responsiv-contact-modal-input {
    height: 50px;
    margin-left: 16px;
    margin-right: 16px;
    gap: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    padding: 13px, 21px, 13px, 21px;
    border-radius: 10px;
}

.responsiv-modal-part-3-create-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 51px;
    margin-left: 97px;
    margin-right: 97px;
    border-radius: 10px;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
    border: 1px;
    margin-bottom: 16px;
    margin-top: 45px;
}

.responsiv-modal-part-3-create-button:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
    cursor: pointer;
}

.responisv-contacts-overview {

    height: calc(100vh - 160px);
    align-items: flex-start;
    flex-direction: column;
    background-color: #F6F7F8;

    padding-left: 16px;

}

.contacts-content-dnone {
    display: none;
}

.dispplay-flex {
    display: flex;
}

.responsiv-burger {
    position: fixed;
    right: 16px;
    bottom: 100px;
    width: 116px;
    height: 100px;
    border-radius: 20px 20px 0px 20px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    font-size: 16px;
    align-items: flex-start;
    justify-content: center;
    animation-name: animaterightResponisv;
    animation-duration: 300ms;
    /* Gesamtdauer der Animation */
    animation-fill-mode: both;

}

.responsiv-burger-delete-container {
    display: flex;
    padding: 8px;
    gap: 8px;
    margin-left: 10px;
}

.responsiv-burger-edit-container {
    display: flex;
    padding: 8px;
    gap: 8px;
    margin-left: 10px;
}

.responsiv-burger-edit-container:hover {
    fill: #29ABE2;
    cursor: pointer;
    color: #29ABE2;
    font-weight: 700;

}

.responsiv-burger-delete-container:hover {
    fill: #29ABE2;
    cursor: pointer;
    color: #29ABE2;
    font-weight: 700;

}

.responsiv-burger-delete-container:hover .edit-svg path {
    stroke: #29ABE2;
}

.responsiv-burger-delete-container:hover .edit-svg path {
    stroke: #29ABE2;
}

.responsiv-edit-buttons {
    display: flex;
    height: 51px;
    margin-top: 32px;
}