.contacts-content {
    box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.08);
    width: 456px;
    height: 1024px;
    overflow: scroll;
    font-size: 48px;


}

.content-container {
    display: flex;
    margin-left: 232px;
}



.contacts-content::-webkit-scrollbar {
    width: 24px;
    /* width of the entire scrollbar */
}

.contacts-content::-webkit-scrollbar-track {
    background: white;
    /* color of the tracking area */
}

.contacts-content::-webkit-scrollbar-thumb {
    background-color: rgba(168, 168, 168, 1);
    /* color of the scroll thumb */
    border-radius: 8px;
    /* roundness of the scroll thumb */
    border: 8px solid rgba(168, 168, 168, 1);
    /* creates padding around scroll thumb */
    min-height: 1px;
}
.contacts-overview{
    display: flex;
    justify-content: center;
    
    
}
.contacts-placeholder {
    display: flex;
    height: 73px;
    width: 589px;
    align-items: center;
    gap: 30px;
    margin-top: 110px;
    margin-left: 55px;
    


}

.contacts-placeholder-font1{
    font-weight: 700;
    font-size: 61px;
}
.contacts-placeholder-seperator{
    background-color: #29ABE2;
    width: 3px;
    height: 59px;
    border-radius: 3px;

}
.contacts-placeholder-text{
    font-size: 27px;
}