/* style contend add task */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.legal-html {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b3b3b;
    font-family: 'inter', sans-serif;
}

/* addtask body */
.legal-body {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #F6F7F8;
    font-family: 'inter', sans-serif;
    margin: 0;
}

/* addtask content */
.legal-content {
    position: fixed;
    top: 96px;
    width: calc(100vw - 260px);
    max-height: calc(100vh - 96px);
    margin-left: 260px;
    font-family: 'inter', sans-serif;
    scrollbar-width: none;
    scrollbar-color: #e0e0e0 #F6F7F8;
    overflow-y: scroll;
    margin-bottom: 30px;
}

.legal-content p {
    width: 98.5%;
    text-wrap: balance;
    margin-right: 10px;

}

/* addtask fonts */
.legal-h1 {
    font-size: 61px;
    font-weight: 700;
    width: 466px;
    height: 78px;
    top: 64px;
    left: 74px;
    gap: 1px;
    padding-top: 110px;
    padding-left: 96px;
}

.legal-h2 {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 8px;
}

.cursorPointer:hover {
    cursor: pointer;
}

a {
    color: rgb(41, 171, 226);
    text-decoration: none;
}

.arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.arrow-left-line {   
    width: 32px;
    height: 32px;
}

.arrow-left-line:hover {
    cursor: pointer;
    background-color: #f6f6f6;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    scale: 1.1;
}

@media(max-width: 1300px) {
    .sidebar {
        display: none !important;
    }

    .legal-content {
        width: 97%;
        max-height: calc(100vh - 160px);
        margin-left: 30px;
        font-family: 'inter', sans-serif;
        bottom: 80px;

    }

    .legal-content p {
        width: 90%;
        text-wrap: balance;
    }
}

@media(max-width: 450px) {
    h1 {
        font-size: 21px;
    }
}