/* style contend add task */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.legal-html {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b3b3b;
    font-family: 'inter', sans-serif;

}


/* addtask body */
.legal-body {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #F6F7F8;
font-family: 'inter', sans-serif;
margin: 0;

}

/* addtask content */
.legal-content {
    position: fixed;
    top: 104px;
    width: 86vw;
    height: 900px;
    margin-left: 260px;
    font-family: 'inter', sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #e0e0e0 #F6F7F8;
    overflow-y: auto;
    

}


/* addtask fonts */
.legal-h1 {
    font-size: 61px;
    font-weight: 700;
    width: 466px;
    height: 78px;
    top: 64px;
    left: 74px;
    gap: 1px;
    padding-top: 110px;
    padding-left: 96px;
}

.legal-h2 {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 8px;
}