.mobile-start-screen {
    display: none;
    background-color: rgb(42, 54, 71);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
}

@keyframes moveAndResizeMobile {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 313px;
        height: 404px;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        top: 10px;
        left: 10px;
        transform: translate(0, 0);
        width: 64px;
        height: 78px;
    }
}

@keyframes screenremove {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes greetingDisplay {

    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@media(max-width: 870px) {

    .log-container {
        width: 75%;
    }
}

@media(max-width: 630px) {
    .sing-up-index-container {
        width: 95%;
    }
}

@media(max-width: 569px) {


    .intro-join-logo {
        position: absolute;
        width: 313px;
        height: 404px;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: resizeJoinLogo 1s ease-in-out forwards;
        animation-delay: 250ms;
    }

    @keyframes resizeJoinLogo {
        0% {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 313px;
            height: 404px;
        }

        100% {
            top: 37px;
            left: 38px;
            transform: translate(0, 0);
            width: 64px;
            height: 78px;
        }
    }

    .sign-up-underline {
        width: 100px;
    }

    .log-container {
        min-width: 260px;
        width: 90%;
        height: 515px;
    }

    .email-or-password-not-found {
        width: 100%;
        height: 20px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 14px;
        color: red;
    }

    .log-in-checkbox {
        padding-bottom: 20px;
        padding-right: 0px;
        margin-left: 20px;
    }

    .log-in-index-container {
        display: flex;
        flex-direction: column;
        width: 93%;
    }

    .log-in-container h1 {
        margin-top: 30px;
        margin-bottom: 16px;
        font-size: 47px;
        font-weight: 700;
    }


    .button-container {
        display: flex;
        flex-direction: column;
        gap: 0px;
        width: 100%;
        height: 100%;
        margin-bottom: 0px;
    }

    .log-button {
        width: 177px;
        height: 48px;
        margin: 10px;
        font-size: 16px;
    }

    .guest-button {
        margin: 10px;
        font-size: 16px;
    }

    .header-container {
        display: none;
    }

    .height-sing-up {
        height: 595px !important;
    }

    .sing-up-container h1 {
        font-size: 47px;
        font-weight: 700;
        margin-top: 24px;
        margin-bottom: 18px;
    }

    .arrow-left-line {
        top: 38px;
        left: 40px;
    }

    .log-in-underline {
        width: 90px;
    }

    .input-area {
        width: 93%;
        margin: 10px;
    }


    .sing-up-content {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .sign-up-button {
        width: 180px;
        height: 51px;
        font-size: 16px;
    }

    .sing-up-check-box-label {
        font-size: 16px !important;
    }

    .password-match {
        width: 265px;
    }


    input[type="checkbox"]+label {
        font-size: 16px;
        width: unset;
        height: unset;
    }

    input[type="checkbox"]+label::before {
        width: 20px;
        height: 20px;
        font-size: 16px;
    }

    .mobile-start-screen {
        display: flex;
        justify-content: center;
        align-items: center;
        animation: screenremove 700ms ease-in-out forwards;
        animation-delay: 250ms;
    }

    .mobile-logo {
        width: 313px;
        height: 404px;
        animation: moveAndResizeMobile 1s ease-in-out forwards;
        animation-delay: 250ms;
        position: absolute;
    }

    .d-none {
        display: none !important;
    }

    .header-mobile-container {
        position: absolute;
        bottom: 100px;
        display: flex;
        align-items: center;
    }

    .header-mobile-container h2 {
        font-size: 20px;
        font-weight: 400;
        padding-right: 20px;
    }

    .mobile-sign-up-header-button {
        width: 104px;
        height: 49px;
        color: white;
        background-color: rgb(42, 54, 71);
        font-size: 16px;
        font-weight: 700;
        border-radius: 8px;
    }
}

@media(max-width: 420px) {

    .arrow-left-line {
        left: 30px;
    }

    .summary-content {
        margin: 0px;
        padding: 0px;
    }

    .summary-overview-container {
        width: 90%;
        height: 325px;
        gap: 10px;
        padding: 0px
    }

    .summary-to-do-and-done-cont {
        gap: 10px
    }

    .summary-urgent-cont {
        width: 100%;
        gap: 12px;
    }

    .summary-amount-of-to-do-number {
        font-size: 38px;
    }

    .summary-to-do-cont {
        width: 100%;
        height: 100px;
    }

    .summary-done-cont {
        width: 100%;
        height: 100px;
    }

    .summary-amount-of-done-number {
        font-size: 38px;
    }

    .summary-urgent-left-box {
        gap: 0px;
    }

    .summary-overview-box {
        width: 32%;
        height: 92px;
    }

    .summ-overlay-numb {
        font-size: 38px;
    }

    .summary-overview {
        gap: 8px;
    }
}

@media(max-width: 360px) {
    .arrow-left-line {
        left: 20px;
    }
}

@media(max-height: 1020px) {
    .intro-join-logo {
        transform: none;
        animation: none;
        top: 37px;
        left: 38px;
        width: 64px;
        height: 78px;
    }
}

@media(max-height: 900px) {

    .log-container {
        height: 450px !important;
    }

    .arrow-left-line {
        left: 20px;
    }

    .sing-up-container h1 {
        font-size: 44px;
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .arrow-left-line {
        top: 24px;
    }

    .sign-up-underline {
        margin-bottom: 5px;
    }

    .input-area-sign {
        width: 94%;
        margin: 6px;
        height: 42px;
    }

    .sing-up-check-box {
        margin-bottom: 14px;
    }

    .log-in-container h1 {
        margin-top: 12px;
        margin-bottom: 12px;
        font-size: 44px;
    }

    .log-in-underline {
        margin-bottom: 25px;
    }

    .input-area {
        width: 94%;
        margin: 6px;
        height: 42px;
    }
}

@media(max-height: 800px) {

    .header-mobile-container {
        bottom: 60px;
    }

    .footer-container {
        bottom: 20px;
    }
}

@media(max-height: 700px) {

    .log-container {
        height: 380px !important;
    }

    .sing-up-container h1 {
        font-size: 40px;
        margin-top: 6px;
        margin-bottom: 6px;
    }

    .input-area-sign {
        margin: 3px;
        height: 36px;
    }

    .sing-up-check-box {
        margin-bottom: 12px;
    }

    .sing-up-container h1 {
        font-size: 40px;
        margin-top: 6px;
        margin-bottom: 6px;
    }

    .log-in-container h1 {
        font-size: 40px;
        margin-top: 6px;
        margin-bottom: 6px;
    }

    .log-in-underline {
        margin-bottom: 14px;
    }

    .input-area {
        margin: 6px;
    }

    .log-in-checkbox {
        padding-bottom: 10px;
    }

    .log-button {
        margin: 4px;
    }

    .guest-button {
        margin: 4px;
    }
}

@media(min-width: 570px) and (max-height: 900px) {

    .log-in-container h1 {
        margin-top: 40px;
        margin-bottom: 12px;
        font-size: 44px;
    }

    .log-in-underline {
        width: 90px;
        margin-bottom: 25px;
    }

    .input-area {
        width: 94%;
        margin: 8px;
        height: 42px;
    }
}

@media(min-width: 570px) and (max-height: 700px) {

    .log-in-container h1 {
        margin-top: 16px;
    }
}