@media(max-width: 1100px) {

    .greeting-container {
        padding-left: 20px;
        
    }

    .summary-header-container h1 {
        font-size: 58px;
        width: auto;
    }

    .summary-header-seperation-bar {
        margin-left: 20px;
        margin-right: 20px;
    }

    .summary-second-title {
        font-size: 25px;
    }
}

@media(max-width: 870px) {

    .greeting-container {
        display: none;
    }

    .summary-content {
        padding: 0px !important;
    }

    .summary-header-container {
        padding-left: 15px;
    }

    .greeting-box {
        font-size: 42px;
    }

    .unser-name {
        font-size: 55px;
    }

    .summary-main-container {
        justify-content: center;
    }

    .greeting-mobile {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #F6F7F8;
        z-index: 999;
        padding: 0px;
        text-align: center;
        animation: greetingDisplay 2s ease-in forwards;
        animation-delay: 1s;
    }

    @keyframes greetingDisplay {

        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            display: none;
        }
    }
}

@media(max-width: 569px) {

    .sidebar-container {
        display: none !important;
    }

    .header-title {
        display: none !important;
    }

    .header {
        height: 80px !important;
        width: 100% !important;
        margin: 0px !important;
    }

    .join-logo-mobile {
        margin-left: 15px;
    }

    .logged-user-icon {
        height: 40px;
        width: 40px;
        margin-right: 20px;
        font-size: 20px;
        border: 2px solid rgb(42, 54, 71);
    }

    .summary-content {
        padding: 0px !important;
    }

    .summary-header-container {
        display: flex;
        flex-direction: column;
        align-items: normal;
        height: auto;
        width: 100%;
        margin-top: 0px;
        padding-left: 15px;
    }

    .summary-header-container h1 {
        width: auto;
        font-size: 47px;
        margin-bottom: 10px;
    }

    .summary-second-title {
        font-size: 20px;
    }

    .summary-header-seperation-bar {
        display: none;
    }

    .summary-header-seperation-bar-mobile {
        height: 3px;
        width: 95px;
        margin-top: 10px;
        background-color: rgb(41, 171, 226);
    }

    .summary-main-container {
        justify-content: center;
        margin-top: 30px;
        width: 100%;
    }

    .summary-overview-container {
        align-items: center;
        width: 90%;
        max-height: 420px;
        gap: 20px;
    }

    .summary-to-do-and-done-cont {
        height: 100%;
        gap: 25px
    }

    .summary-to-do-cont {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

    .summary-to-do-cont svg {
        width: 40px;
        height: 40px;
    }

    .summary-to-do-cont:hover {
        cursor: pointer;
        background-color: rgb(42, 54, 71);
        color: white;
        scale: 1.05;
        box-shadow: 0px 4px 4px 0px #00000040;
    }

    .summary-amount-of-to-do-number {
        font-size: 47px;
    }

    .summary-done-cont {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

    .summary-done-cont:hover {
        cursor: pointer;
        background-color: rgb(42, 54, 71);
        color: white;
        scale: 1.05;
        box-shadow: 0px 4px 4px 0px #00000040;
    }

    .summary-done-cont svg {
        width: 40px;
        height: 40px;
    }

    .summary-text {
        font-size: 14px;
    }

    .summary-amount-of-done-number {
        font-size: 47px;
    }

    .summary-done-text {
        font-size: 14px;
    }

    .summary-urgent-date {
        font-size: 16px;
    }

    .summary-urgent-info {
        font-size: 14px;
    }

    .summary-urgent-cont {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        gap: 25px;
    }

    .summary-urgent-cont:hover {
        cursor: pointer;
        background-color: rgb(42, 54, 71);
        color: white;
        scale: 1.05;
        box-shadow: 0px 4px 4px 0px #00000040;
    }

    .summary-urgent-left-box {
        gap: 14px;
    }

    .summary-urgent-separation-bar {
        height: 68px;
    }

    .urgent-icon-background {
        width: 40px;
        height: 40px;
    }

    .urgent-icon-top {
        width: 23px;
        height: 17px;
    }

    .summary-overview-box {
        width: 30%;
        height: 116px;
        border-radius: 20px;
    }

    .summary-overview-box:hover {
        cursor: pointer;
        background-color: rgb(42, 54, 71);
        color: white;
        scale: 1.05;
        box-shadow: 0px 4px 4px 0px #00000040;
    }

    .summary-overview {
        width: 100%;
        height: 100%;
        gap: 20px;
    }

    .summ-overlay-numb {
        font-size: 47px;
    }
}


@media(max-height: 910px) and (min-width: 570px) {
    .summary-header-container {
        margin-top: 20px;
    }

    .summary-main-container {
        margin-top: 20px;
    }

    .summary-content {
        padding: 0px !important;
    }

    .summary-header-container {
        display: flex;
        flex-direction: column;
        align-items: normal;
        height: auto;
        width: 100%;
        margin-top: 0px;
        padding-left: 15px;
    }

    .summary-header-container h1 {
        width: auto;
        font-size: 47px;
        margin-bottom: 10px;
    }

    .summary-second-title {
        font-size: 20px;
    }

    .summary-header-seperation-bar {
        display: none;
    }

    .summary-header-seperation-bar-mobile {
        height: 3px;
        width: 95px;
        margin-top: 10px;
        background-color: rgb(41, 171, 226);
    }

    .summary-main-container {
        justify-content: center;
        margin-top: 30px;
        width: 100%;
    }

    .summary-overview-container {
        align-items: center;
        max-height: 420px;
        gap: 20px;
    }

    .summary-to-do-and-done-cont {
        height: 100%;
        gap: 25px
    }

    .summary-to-do-cont {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

    .summary-to-do-cont svg {
        width: 40px;
        height: 40px;
    }

    .summary-to-do-cont:hover {
        cursor: pointer;
        background-color: rgb(42, 54, 71);
        color: white;
        scale: 1.05;
        box-shadow: 0px 4px 4px 0px #00000040;
    }

    .summary-amount-of-to-do-number {
        font-size: 47px;
    }

    .summary-done-cont {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

    .summary-done-cont:hover {
        cursor: pointer;
        background-color: rgb(42, 54, 71);
        color: white;
        scale: 1.05;
        box-shadow: 0px 4px 4px 0px #00000040;
    }

    .summary-done-cont svg {
        width: 40px;
        height: 40px;
    }

    .summary-text {
        font-size: 14px;
    }

    .summary-amount-of-done-number {
        font-size: 47px;
    }

    .summary-done-text {
        font-size: 14px;
    }

    .summary-urgent-date {
        font-size: 16px;
    }

    .summary-urgent-info {
        font-size: 14px;
    }

    .summary-urgent-cont {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        gap: 25px;
    }

    .summary-urgent-cont:hover {
        cursor: pointer;
        background-color: rgb(42, 54, 71);
        color: white;
        scale: 1.05;
        box-shadow: 0px 4px 4px 0px #00000040;
    }

    .summary-urgent-left-box {
        gap: 14px;
    }

    .summary-urgent-separation-bar {
        height: 68px;
    }

    .urgent-icon-background {
        width: 40px;
        height: 40px;
    }

    .urgent-icon-top {
        width: 23px;
        height: 17px;
    }

    .summary-overview-box {
        width: 30%;
        height: 116px;
        border-radius: 20px;
    }

    .summary-overview-box:hover {
        cursor: pointer;
        background-color: rgb(42, 54, 71);
        color: white;
        scale: 1.05;
        box-shadow: 0px 4px 4px 0px #00000040;
    }

    .summary-overview {
        width: 100%;
        height: 100%;
        gap: 20px;
    }

    .summ-overlay-numb {
        font-size: 47px;
    }
}

@media(max-height: 770px) {
    .summary-overview-container {
        max-height: 320px !important;
    }

    .summary-header-container h1 {
        font-size: 40px;
        margin-top: 20px;
        margin-bottom: 5px;
    }

    .summary-second-title {
        font-size: 18px;
        height: 25px;
    }

    .summary-main-container {
        margin-top: 15px;
    }

    .summary-overview-container {
        gap: 5px;
    }

    .summary-to-do-and-done-cont {
        gap: 10px;
    }

    .summary-overview {
        gap: 10px;
    }

    .summary-overview-box {
        height: 100%;
        width: 32.5%;
    }
}