.sidebar-container {
    display: flex;
}

.sidebar {
    background-color: rgb(42, 54, 71);
    position: fixed;
    height: 100vh;
    display: flex;
    width: 232px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    overflow: hidden;
}

.join-logo-sidebar {
    height: 122px;
    margin-top: 50px;
}

.menu-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 120px;
    gap: 15px;
}

.menu-sidebar-button {
    display: flex;
    height: 46px;
    padding: 8px 96px;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    color: rgb(205, 205, 205);
    text-decoration: none;  
}

.menu-sidebar-button img {
    height: 30px;
    width: 30px;
}

.menu-sidebar-button:hover {
    background-color: #2484ad;
}

.blue {
    background-color: #2484ad;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    margin-left: 232px;
    font-size: 21px;
    width: calc(100% - 232px);
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.header-title {
    position: fixed;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-left: 100px;
}


.header-menu {
    display: inline-flex;
    position: absolute;
    top: 100px;
    right: 20px;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px 0px 20px 2px;
    background-color: #2A3647;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(0px);
    z-index: 2;
    transition: transform 125ms ease-in-out, z-index 125ms ease-in-out;
}

.hide-header-menu {
    display: none;
}


.header-menu-button {
    text-decoration: none;
    color: rgb(205, 205, 205);
    display: flex;
    width: 140px;
    height: 46px;
    padding: 8px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
}

.header-menu-button:hover {
    background-color: rgb(45, 61, 89);
    cursor: pointer;
}


.logged-user-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58px;
    width: 58px;
    font-size: 28px;
    font-weight: 650;
    margin-right: 50px;
    cursor: pointer;
    border: 3px solid rgb(42, 54, 71);
    border-radius: 100%;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 1) 70%,
            rgba(12, 46, 98, 0.12) 70%,
            rgba(12, 46, 98, 0.12) 100%);
    color: rgb(41, 171, 226);

}

.logged-user-icon:hover {
    background: rgb(12, 46, 98);
    background: radial-gradient(circle,
            rgba(12, 46, 98, 0.12) 0%,
            rgba(12, 46, 98, 0.12) 70%,
            rgba(255, 255, 255, 1) 70%,
            rgba(255, 255, 255, 1) 100%);
}

.help-user-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
}

.help-link {
    cursor: pointer;
    height: 22px;
}

.help-link:hover {
    height: 26px;
}

.footer-sidebar {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 40px;
}

.footer-sidebar-link {
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: 8px 60px;
    gap: 8px;
    color: rgb(168, 168, 168);
    text-decoration: none;
}

.footer-sidebar-link:hover {
    color: rgb(41, 171, 226);
}