/* style contend add task */

.privacy-html {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b3b3b;
    font-family: 'inter', sans-serif;
}

/* Header and sidebar */
.privacy-sidebar {
    position: fixed;
    top: 8px;
    width: 232px;
    height: 1024px;
    background-color: #2A3647;
    box-shadow: 0px 0px 4px 0px #0000001A;
}

.privacy-header {
    position: fixed;
    top: 8px;
    width: 1440px !important;
    height: 96px;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
}

/* addtask body */
.privacy-body {
    position: fixed;
    top: 0px;
    width: 1440px;
    height: 1024px;
    background-color: #F6F7F8;
 

}

/* addtask content */
.privacy-content {
    position: fixed;
    top: 104px;
    width: 1209px;
    height: 928px;
    margin-left: 260px;
    scrollbar-width: thin;
    scrollbar-color: grey;
    overflow-y: auto;
}

/* addtask fonts */
.privacy-h1 {
    font-size: 61px;
    font-weight: 700;
    width: 466px;
    height: 78px;
    top: 64px;
    left: 74px;
    gap: 1px;
    padding-top: 110px;
    padding-left: 96px;
}

.privacy-h2 {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 8px;
}
