.d-none {
    display: none !important;
}

.summary-body {
    margin: 0;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #F5F5F5;
    overflow: hidden;
    font-family: 'inter', sans-serif !important;
    font-size: 16px;
}
.mobile_bottom {
    display: none;
}

.unset-body {
    display: unset;
}

.main-content-summary {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.summary-header-container {
    display: flex;
    align-items: center;
    width: 730px;
    height: 73px;
    margin-top: 50px;
}

.summary-header-container h1 {
    width: 294px;
    height: auto;
    font-size: 68px;
    font-style: normal;
    font-weight: 700;
}

.summary-content {
    flex-direction: column;
    display: flex;
    width: 100vw;
    margin-left: 232px;
    height: 100vh;
    padding-left: 96px;
}


.summary-header-seperation-bar {
    background-color: rgb(41, 171, 226);
    height: 59px;
    width: 3px;
    border-radius: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

.summary-second-title {
    font-style: normal;
    font-size: 27px;
    font-weight: 400;
    width: 320px;
    height: 32px;
}

.summary-main-container {
    display: flex;
    align-items: center;
    margin-top: 56px;
}

.summary-overview-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 560px;
    height: 562px;
    gap: 28px;
}

.summary-to-do-and-done-cont {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 168px;
    gap: 32px;
}

.summary-to-do-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 168px;

    gap: 18px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    background-color: white;
}

.summary-to-do-cont:hover {
    cursor: pointer;
    background-color: rgb(42, 54, 71);
    color: white;
    scale: 1.1;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.summary-to-do-cont:hover circle {
    fill: white;
}

.summary-to-do-cont:hover path {
    fill: rgb(42, 54, 71);
}

.summary-amount-of-to-do {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.summary-amount-of-to-do-number {
    font-family: Inter;
    font-style: normal;
    text-align: center;
    font-size: 64px;
    font-weight: 600;
}

.summary-text {
    margin: 0px;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
}

.summary-done-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 168px;
    gap: 18px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.summary-done-cont:hover {
    cursor: pointer;
    color: white;
    scale: 1.1;
    background-color: rgb(42, 54, 71);
    box-shadow: 0px 4px 4px 0px #00000040;
}

.summary-done-cont:hover circle {
    fill: white;
}

.summary-done-cont:hover path {
    stroke: rgb(42, 54, 71);
}

.summary-amount-of-done-number {
    font-style: normal;
    text-align: center;
    font-size: 64px;
    font-weight: 600;
}

.summary-urgent-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 560px;
    height: 168px;

    gap: 61px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.summary-urgent-cont:hover {
    cursor: pointer;
    background-color: rgb(42, 54, 71);
    color: white !important;
    scale: 1.05;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.summary-urgent-left-box {
    display: flex;
    align-items: center;
    gap: 39px;
}

.summary-urgent-icon-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
}

.urgent-icon-background {
    position: absolute;
    z-index: 1;
    width: 70px;
}

.urgent-icon-top {
    position: absolute;
    z-index: 2;
    width: 40px;
}

.summary-urgent-right-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.summary-done-text {
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
}

.summary-urgent-separation-bar {
    width: 2px;
    height: 102px;
    flex-shrink: 0;
    background-color: #d1d1d1;
}

.summary-urgent-right-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
}

.summary-urgent-date {
    font-style: normal;
    font-size: 21px;
    font-weight: 700;
}

.summary-urgent-info {
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
}

.summary-overview {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 560px;
    height: 170px;
    padding: 1px 0px;
    gap: 28px;
}

.summary-overview-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 168px;
    height: 168px;
    flex-shrink: 0;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.summary-overview-box:hover {
    cursor: pointer;
    background-color: rgb(42, 54, 71);
    color: white !important;
    scale: 1.1;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.summ-overlay-numb {
    font-style: normal;
    text-align: center;
    font-size: 64px;
    font-weight: 600;
}

.greeting-container {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;     
    padding-left: 100px;    
}
.greeting-mobile {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;     
    padding-left: 100px;    
}



.greeting-box {
    font-style: normal;
    font-size: 47px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 10px;
}

.user-name {
    font-style: normal;
    color: rgb(41, 171, 226);
    font-size: 64px;
    font-weight: 700;
}