.contacts-content {
    box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.08); 
    width: 456px;
    height: 1024px;
    overflow: auto;
    

}

.content-container {
    display: flex;
    margin-left: 232px;
}

.contacts-placeholder {
    /* border: 2px solid red; */
    width: 752px;
    height: 1024px;


}