<div id="mobileBottomBar" class="index">
    <div class="mobile_bottom">
        <div class="mobile_menuitem">
            <a class="mobile_link" href="summary.html">
                <img src="../assets/img/summary.svg">
                <div>Summary</div>
            </a>
        </div>
        <div class="mobile_menuitem">
            <a class="mobile_link" href="addtask.html">
                <img src="../assets/img/addtask.svg">
                <div>Add Task</div>
            </a>
        </div>
        <div class="mobile_menuitem">
            <a class="mobile_link" href="board.html">
                <img src="../assets/img/board.svg">
                <div>Board</div>
            </a>
        </div>



        <div class="mobile_menuitem">
            <a class="mobile_link" href="contacts.html">
                <img src="../assets/img/contacts.svg">
                <div>Contacts</div>
            </a>
        </div>
    </div>
</div>