<link rel="stylesheet" href="/css/responsive_template.css">
<header class="header">
    <a  href="../index.html"><img src="../assets/img/logo.png" id="join_logo_mobile" class="join-logo-mobile"></a>
    <div class="header-title">Kanban Project Management Tool</div>
    <div id="help-user-container" class="help-user-container">
        <a href="help.html"><img class="help-link" src="../assets/img/help.svg"></a>
        <div id="initials" class="logged-user-icon" onclick="showHeaderMenu('header_menu','hide-header-menu')">G</div>
    </div>
</header>

<aside id="header_menu" class="header-menu hide-header-menu">
</aside>
