<header class="header">
    <div class="header-title">Kanban Project Management Tool</div>
    <div class="help-user-container">
        <a href="help.html"><img class="help-link" src="../assets/img/help.svg"></a>
        <div class="logged-user-icon" onclick="showHeaderMenu('header_menu','hide-header-menu')">G</div>
    </div>
</header>

<aside id="header_menu" class="header-menu hide-header-menu">
	<a class="header-menu-button" href="legal_notice.html">Legal Notice</a>
	<a class="header-menu-button" href="privacy_policy.html">Privacy Policy</a>
	<a class="header-menu-button" href="index.html">Log out</a>
</aside>